/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* /RESET */

/* HTML */
html{
    --white: #FCF8F8;
    --whitergba: rgba(252, 248, 248, 0.5);
    --pink-dark:#A83E51;
    --pink-grey:#C1576A;
    --pink: #FCA4A6;
    --dark-blue: #3B6FD9;
    --green: #7ED9D0;
    --dark-green: #62C3D9;
    
    /* 1 rem = 16px (User agent) = 100% (User agent) */
    font-size: 62.5%; /* 10px */
    /* Aqui definimos o tamanho padrao pra 10px */

    font-family: 'Comfortaa';
    color:var(--dark-blue);
}
/* /HTML */

/* HEADER */
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    color: white;
    background-color: var(--pink);
    width: 100%;
    height: 8rem;
}
.logo{
    width: 6rem;
    height: 5rem;
    background: var(--pink-grey);
    color: var(--white);
    border-radius: 5rem;
    text-align: center;
    padding-top: 2rem;
    font-style: italic;
    font-weight: bolder;
    margin-left: 3rem;
}

.item{
    display: inline;
    padding-bottom: 0.5rem;
    margin: 0 0.5rem ;
}
.item > a{
    color: #3B6FD9;
    font-weight: bolder;
}
/* /HEADER */

body{
    background: var(--white);
    font-family: 'Comfortaa', cursive, 'Montserrat', sans-serif;
}

/* menu */
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background-color: rgba(252, 164, 166, 1);
    width: 100%;
    height: 8rem;
    /* Menu fixo */
   position: fixed;
   z-index: 5;
}

.logo{
    width: 6rem;
    height: 5rem;
    background: var(--pink-grey);
    border-radius: 5rem;
    text-align: center;
    padding-top: 2rem;
    font-style: italic;
    font-weight: bolder;
    margin-left: 3rem;
}

.item{
    display: inline;
    padding: 0.4rem;
}

.item > a{
    font-weight: bolder;
}

section.banner{
    width: 100%;
    height: 45rem;
    background-image: url('../img/cupcakes-with-pink-icing-and-pink-drink-alt.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 10rem 2rem;
}

section.banner h1{
    font-size: 4rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    color: var(--white);
    /* font-weight: bolder; */
}

section.banner div{
    max-width: 40%;
}

section.banner p{
    font-size: 1.2rem;
    padding-bottom: 4rem;
    color: var(--dark-blue);
}

section.banner a{
    background: var(--pink-dark);
    color: var(--white);
    padding: 1rem 4rem;
    border-radius: 2.5rem;
}

.Produtos{
    background: #f2b6d7;
  }
  
.Produtos .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
.Produtos .content .card{
    width: 20rem;
    margin: 1.5rem;
  }
  
.Produtos .content .card .card-img{
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 10px;
    
}
  
.Produtos .content .card .card-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s ease;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1.5s ease;
  }
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.section-title{
    margin-top: 2rem;
}

.btn {
    color: #fff;
    background: #3a6cf4;
    font-size: 0.8rem;
    font-weight: 600;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    transition: 0.5s ease;
}

.contact .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .contact .content .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .contact .content .row .card{
    background: #fff;
    width: 240px;
    margin: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
  }
  
  .contact .content .row .card .contact-icon{
    color: #3a6cf4;
    font-size: 4em;
    text-align: center;
    transition: transform 0.5s ease;
  }
  
  .contact .content .row .card:hover .contact-icon{
    transform: translateY(-10px);
  }
  
  .contact .content .row .card .info{
    text-align: center;
  }
  
  .contact .content .row .card .info h3{
    color: #111;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
  }
  
  .contact .content .row .card .info span{
    color: #666;
    font-weight: 500;
  }
  
  .contact-form{
    background: #fff;
    max-width: 600px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  }
  
  .contact-form h3{
    color: #111;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .contact-form .input-box{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .contact-form .input-box input,
  .contact-form .input-box textarea{
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;
  }
  
  .contact-form .input-box .send-btn{
    color: #fff;
    background: #3a6cf4;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  .contact-form .input-box .send-btn:hover{
    background: #235bf6;
  }

footer{
    /* Footer */ 
    margin-top: 100px; 
    display: flex; 
    justify-content: space-between; 
    background-color: #7ed9d0; 
    padding: 2rem; 
    width: 100%; 
} 

footer article{ 
    margin: 10px; 
} 

footer article img{ 
    margin: 10px; 
    width: 20px; 
} 