/*RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* HTML */
html{
    --white: #FCF8F8;
    --pink-dark:#A83E51;
    --pink-grey:#C1576A;
    --pink: #FCA4A6;
    color: #3b6fd9;
    
    /* 1 rem = 16px (User agent) = 100% (User agent) */
    font-size: 62.5%; /* 10px */
    /* Aqui definimos o tamanho padrao pra 10px */
}


/* BODY */
body {
    font-family: 'Comfortaa', cursive, 'Montserrat', sans-serif;
    background-color: var(--white);
}


/* menu - NAVBAR*/
/* HEADER */
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    color: white;
    background-color: var(--pink);
    width: 100%;
    height: 8rem;
}
.logo{
    width: 6rem;
    height: 5rem;
    background: var(--pink-grey);
    color: var(--white);
    border-radius: 5rem;
    text-align: center;
    padding-top: 2rem;
    font-style: italic;
    font-weight: bolder;
    margin-left: 3rem;
}
.item{
    display: inline;
    padding-bottom: 0.5rem;
    margin: 5px;
}
.item > a{
    color: #3B6FD9;
    font-weight: bolder;
}



/* banner - imagem */
.banner-produto{
    max-width: 500rem;
    width: 100%;
}
/* banner - descrição */
.banner-desc{
    margin-top: 60px;
    text-align: center;
    font-size: 2rem;
}
/* banner - descrição - paragráfo */
.banner-desc>p{
    padding: 0 10rem;
}



/* produtos */
.prod-container{
    margin: 80px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color: none;
    padding: 0 170px;
}

.produto{
    border: 1px;
    border-radius: 4px;
    background-color: rgba(252, 164, 166, 0.3);
    width: 175px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}

.produto img {
    width: 10rem;
    margin: 1rem;
}

.produto p {
    margin: 1rem;
    text-transform: uppercase;
    color: #3b6fd9;
    font-weight: bold;
}

.comprar{
    width: 9rem;
    border-radius: 10px;
    height: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    background-color: white;
    color: #3b6fd9;
    border-style: none;
    transition: transform 0.5s ease-in-out;
}
/* footer */

footer{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 164, 166, 0.3);
    padding: 2rem;
    position: relative;
    top: 40px;
    bottom: 0;
    width: 100%;

}
footer article{
    margin: 10px;
}
footer article img{
    margin: 10px;
    width: 20px;
}
@media (max-width:320px){
    main{
        display: block;
    }
}

