* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    --white: #FCF8F8;
    --pink-dark:#A83E51;
    --pink-grey:#C1576A;
    --pink: #FCA4A6;
    --dark-blue: #3B6FD9;
    --green: #7ED9D0;
    --dark-green: #62C3D9;

    
    /* 1 rem = 16px (User agent) = 100% (User agent) */
    font-size: 62.5%; /* 10px */
    /* Aqui definimos o tamanho padrao pra 10px */
    font-family: 'Comfortaa';
    color:var(--dark-blue);
}

p {
    line-height: 3rem;
    margin: 1rem 5rem 2rem 5rem;
    text-indent: 20px;
    
}

h1{
    text-align: center;
    margin: 30px;
    font-size: xx-large;
    text-transform: uppercase;
    
}

h2 {

    text-align: center;
}

/* HEADER */
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background-color: var(--pink);
    width: 100%;
    height: 13rem;

}

/* configuração class da imagem da logo*/
img.logo_img {
    height: 9rem;
    width: auto;
    margin-left: 4rem;
}

/* class do texto da logo */
.logo{ 
    font-size: 3rem;
    color: var(--pink-dark);
    font-weight: bolder;
    text-transform: uppercase;
    
}

nav.menu {
    display: flex;
    justify-content: space-around;
    margin-right: 4rem;
}

.menu_item{
    display: inline;
    margin: 2rem;
}
.menu_item > a{
    color: var(--pink-dark);
    font-weight: bolder;
    font-size: 2rem;
}

/* header */

/* MAIN */


main {
    margin-bottom: 4rem;
}

.imagem img {
    width: 100%;
    height: auto;
    
}

section {
    padding: 20px;
    margin: 4px;
    font-size: 2rem;
}

/* Footer */
footer {
    padding: 2rem;
    width: 100%;
    background-color: var(--green);
}
footer section.menu-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1rem;
}
footer article {
    display: flex;
    margin: 1rem;
    align-content: center;
    justify-content: center;
    
}
footer article img{
    margin: 0 10px;
    width: 20px;
    height: 20px;
}
footer article p{
    display: inline;
    margin: 0;
}

@media (max-width:238px){
    .menuSobre{
        display: block;
    }
}

@media (max-width: 740px){
    nav.menu_item {
        flex-wrap: wrap;
        display: block;
        justify-content: flex-start;
    }
    footer article{
    display: block;
    justify-content: flex-start;
    }
    footer section.menu-footer{
    display: block;
    }
}