* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    --white: #FCF8F8;
    --pink-dark:#A83E51;
    --pink-grey:#C1576A;
    --pink: #FCA4A6;
    --dark-blue: #3B6FD9;
    --green: #7ED9D0;
    --dark-green: #62C3D9;
    
    /* 1 rem = 16px (User agent) = 100% (User agent) */
    font-size: 62.5%; /* 10px */
    /* Aqui definimos o tamanho padrao pra 10px */
    font-family: 'Comfortaa';
    color:var(--dark-blue);
}

/* HEADER */
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    color: white;
    background-color: var(--pink);
    width: 100%;
    height: 8rem;
}
.logo{
    width: 6rem;
    height: 5rem;
    background: var(--pink-grey);
    color: var(--white);
    border-radius: 5rem;
    text-align: center;
    padding-top: 2rem;
    font-style: italic;
    font-weight: bolder;
    margin-left: 3rem;
}
.item{
    display: inline;
    padding-bottom: 0.5rem;
    margin: 5px;
}
.item > a{
    color: #3B6FD9;
    font-weight: bolder;
}

h1{
    text-align: center;
    margin: 30px;
}
/* header */

/* MAIN */
.imagem img {
    width: 100%;
    height: auto;
}


.menuSobre {
    margin: 0 auto;
    background-color:white;
    padding: 15px;
    border-radius: 2%;
    display: flex;
    position: relative;
    font-size: bold;
    font-family: 'comfortaa';
    text-align: left;
}
section {
    padding: 20px;
    margin: 4px;
    background-color: #F2B6D7;
}

/* Footer */
footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--pink);
    padding: 2rem;
    width: 100%;
    position: relative;
    bottom: 0;

}
footer article{
    margin: 10px;

}
footer article img{
    margin: 10px;
    width: 20px;
}
@media (max-width:320px){
    .menuSobre{
        display: block;
    }
}