* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.mensagem {
    width: 200px;
    height: 220px;
    padding: 10px;
}
h1 {
text-align: center;
padding: 10px;
}