* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Comfortaa";
}
html{
    --white: #FCF8F8;
    --pink-dark:#A83E51;
    --pink-grey:#C1576A;
    --pink: #FCA4A6;
    
    /* 1 rem = 16px (User agent) = 100% (User agent) */
    font-size: 62.5%; /* 10px */
    /* Aqui definimos o tamanho padrao pra 10px */
}
body{
    height: 100vr;
}

/*menu*/

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    color: white;
    background-color: rgba(252, 164, 166, 0.3);
    width: 100%;
    height: 8rem;
}
.logo{
    width: 6rem;
    height: 5rem;
    background: var(--pink-grey);
    color: var(--white);
    border-radius: 5rem;
    text-align: center;
    padding-top: 2rem;
    font-style: italic;
    font-weight: bolder;
    margin-left: 3rem;
}
.item{
    display: inline;
    padding: 0.4rem;
}
.item > a{
    color: #3B6FD9;
    font-weight: bolder;
}
/*/menu*/

.imagem1 {
    display: flex;
    border: solid;
    border-radius: 10px;
    border-color:  #3B6FD9;
    height: auto;
    text-align: center;
    max-width: 30rem;
}

.produto {
    margin: 10px;
    display: flex;
    text-align: left;
    padding: 25px;
    color: cornflowerblue;
}
li {
    list-style: none;
    padding: 10px;
}
h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bolder;
}
.button {
    border: none;
    background-color: #3B6FD9;
    padding: 15px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}
/* menu */

@media (max-width: 868px) {
    .produto{
        display: block;
    }
    .imagem1 {
        max-width: 20rem;
    }
    
}

.descricao {
    font-size: 1rem;
}


/* Footer */
footer{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 164, 166, 0.3);
    padding: 2rem;
    width: 100%;

}
footer article{
    margin: 10px;
}
footer article img{
    margin: 10px;
    width: 20px;
}